<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302037554390-ksjv4kqng15qrekdo0b2hrfutld8vcst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302037554390-ksjv4kqng15qrekdo0b2hrfutld8vcst</string>
	<key>API_KEY</key>
	<string>AIzaSyCz71eMaz8q_02Bvr6f7SYGN0LqRaPPXg0</string>
	<key>GCM_SENDER_ID</key>
	<string>302037554390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghav.fc</string>
	<key>PROJECT_ID</key>
	<string>mytests-321008</string>
	<key>STORAGE_BUCKET</key>
	<string>mytests-321008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302037554390:ios:25cc53c6ab821d3d18e577</string>
</dict>
</plist>